@import "@styles/main";

.h5p-keyword-selector-selector-container {
  display: block;
  margin: 0.5em 0 0;
  padding: 0;

  .h5p-keyword-selector-selector {
    display: inline-block;
    border: 2px solid $border-color;
    padding: 0.3em;
    margin: 0.5em 0.5em 0.5em 0;
    border-radius: 4px;
    transition: border 400ms ease-out;
    cursor: pointer;

    &.active, &:focus-visible {
      border-color: $border-color-active;
    }

    &:hover{
      border-color: $border-color-active;
      background-color: $border-color-active-bg;
    }

    input {
      position: absolute;
      left: -999999px;
    }
  }
}

.h5p-keyword-selector-error {
  color: $error-color;
}
