@use "@styles/colors.scss" as colors;

html {
  box-sizing: border-box;
}

.h5p-keyword-selector {
  background-color: colors.$color-background;
  color: colors.$color-text;

  .h5p-keyword-selector-container {
    padding: 0.75em;

    .h5p-keyword-selector-title {
      margin: 1rem 0;
      font-size: 1.125rem;
      font-weight: bold;
      line-height: 1;
    }
  }
}
