@use "@styles/colors.scss" as colors;

.h5p-keyword-selector {
  .h5p-keyword-selector-main-message {
    color: colors.$error-color;
  }

  .h5p-joubelui-button {
    &.h5p-keyword-selector-done-button {
      &:before {
        content: "\F058";
      }
    }

    &.h5p-keyword-selector-edit-button {
      &:before {
        content: "\F040";
      }
    }

    &.display-none {
      display: none;
    }
  }
}

